<html>
    <head>
        <title>Update {{ book.getTitle }}</title>
    </head>
    <body>
        <h1>Update {{ book.getTitle }}</h1>

        <form id="form_id" action="/book/{{ book.getId }}/authorfirst" method="post">
            <input name="_method" type="hidden" value="patch">

            <label for="author_first">Author first name:</label>
            <input id="author_first" name="author_first" type="text">

            <button type="submit">Update author's first name</button>
        </form>

        <form id="form_id" action="/book/{{ book.getId }}/authorlast" method="post">
            <input name="_method" type="hidden" value="patch">

            <label for="author_last">Author last name:</label>
            <input id="author_last" name="author_last" type="text">

            <button type="submit">Update author's last name</button>
        </form>


        <form id="form_id" action="/book/{{ book.getId }}/title" method="post">
            <input name="_method" type="hidden" value="patch">

            <label for="title">Change title:</label>
            <input id="title" name="title" type="text">

            <button type="submit">Update title</button>
        </form>

        <form action="/book/{{ book.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">

            <button type="submit">Delete this book</button>
        </form>
    </body>
</html>
